extensions:
    annotations: Nettrine\Annotations\DI\AnnotationsExtension
    dbal: Nettrine\DBAL\DI\DbalExtension
    dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension
    orm: Nettrine\ORM\DI\OrmExtension
    orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
    orm.console: Nettrine\ORM\DI\OrmConsoleExtension


orm.annotations:
    debug: %debugMode%
    excludePaths: []
    defaultCache: apcu
    paths:
        - app/Model


dbal:
	debug: %debugMode%
	connection:
		driver: pdo_mysql
		types:
			uuid_binary:
				class: Ramsey\Uuid\Doctrine\UuidBinaryType
				commented: false


includes:
	- console.neon
	- model.neon
