extensions:
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)


console:
	lazy: false


services:

	lempexCommand:
		class: Lempex\Module\Command\LempexCommand
		inject: true

	projectCommand:
		class: Lempex\Module\Command\Project\ProjectCommand
		inject: true

	projectInfoHelper:
		class: Lempex\Module\Command\Project\Helper\ProjectInfoHelper
		inject: true

	projectAddHelper:
		class: Lempex\Module\Command\Project\Helper\ProjectAddHelper
		inject: true

	projectEditHelper:
		class: Lempex\Module\Command\Project\Helper\ProjectEditHelper
		inject: true
