services:

	# Factories
	projectFactory:
		class: Lempex\Model\Project\ProjectFactory
	websiteFactory:
		class: Lempex\Model\Website\WebsiteFactory
	storageFactory:
		class: Lempex\Model\Storage\StorageFactory

	# Repositories
	projectRepository:
		class: Lempex\Model\Project\ProjectRepository
